<h1>Download Youtube!</h1>
<div class="main">
  <h3>Baixar MP3</h3>
  <form action="download" method="post">
    <input type="text" name="videoid" />
    <button>Gerar Link</button>
  </form>
  <a href="{{link}}">Download</a>
</div>

<div class="main">
  <h3>Baixar Vídeo</h3>
  <form action="downloadVideo" method="post">
    <input type="text" name="url" />
    <button>Baixar</button>
  </form>
</div>